<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>

<body>
	<div class = "container mt-4">
	<a th:href = "@{/new}" class = "btn btn-primary">Nuevo</a>
		<table class = "table">
			<thead>
				<tr>
					<th>ID</th>
					<th>PERFIL</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "perfil:${perfiles}">
					<td th:text = "${perfil.idPerfil}"></td>
					<td th:text = "${perfil.tipo}"></td>
					<td>
					<a th:href ="@{/editar/}+${perfil.idPerfil}" class="btn btn-warning">Editar</a>
					<a th:onclick="eliminar([[${perfil.idPerfil}]])" class = "btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>

</html>