<!-- MENU -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top nav-menu">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}">Home</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="d-flex" style="width: 150px;">
				<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post" id="form-logout">
					</form>
					<div class="dropdown nav-item">
						<a class="nav-link dropdown-toggle text-lighter" type="button" id="dropdownMenuButton1"
							data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"
							sec:authentication="name">

						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" th:href="@{/user}">Ver mi perfil</a></li>
							<li><input class="dropdown-item" style="cursor: pointer" type="submit" value="Logout"
									form="form-logout" /></li>

						</ul>
					</div>
				</div>
				<div sec:authorize="!isAuthenticated()">
					<a class="btn btn-dark" th:href="@{/login}">Login</a>
				</div>
			</div>

		</div>
	</div>
</nav>